:root {
  --vp-c-brand-1: #52b783;
  --vp-c-indigo-1: var(--vp-c-green-1);
  --vp-c-indigo-2: var(--vp-c-green-2);
  --vp-c-indigo-3: var(--vp-c-green-3);

  --vp-layout-max-width: 100%;
}

.VPDoc.has-aside .content-container {
  max-width: none !important;
}

.VPHero.VPHomeHero {
  color: #dfdfd6;
}

.VPHero.VPHomeHero .tagline {
  color: #98989f;
}

:not(html[class='dark']) .VPNav .home.top {
  --vp-c-text-1: #dfdfd6;
  --vp-c-divider: #2e2e32;
}

:not(html[class='dark']) .VPNav .home.top .VPMenu {
  --vp-c-text-1: #3c3c43;
}

.VPSidebarItem .sub-text {
  font-size: 0.9em;
  display: block;
}

.VPSidebarItem .text {
  padding: 4px 0;
}

.vp-doc div[class*='language-'] {
  margin-left: 0;
  margin-right: 0;
}

.VPNav .container {
  max-width: 100%;
}
